*{
    margin: 0;
    padding: 0;
}

article {
    width: 60%;
    margin: auto;
}

.cart_box img{
    width: 100px;
    height: 100px;
} 

.cart_img{
    display: flex;
    width: 400px;
}

.cart_img p{
    font-weight: bold;
    margin-left: 10px;
}

.cart_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid orange;
    padding-bottom: 5px;
}

.total{
    display: flex;
    justify-content: space-between;
}

.total span:nth-child(1){
    color: rgb(17, 12, 1);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2rem;     
}

.total span:nth-child(2){
    font-size: 2rem;
    color: red;
    font-weight: bold;
    animation: myAnimation 2s linear infinite;
}

.add_button,.sub_button{
    height: 25px;
    width: 25px;
}

.remove_button{
    height: 25px;
    width: 60px;
}


@keyframes myAnimation{
    from {font-size: 2rem;}
    to {font-size: 3.5rem;}
}